* {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
  }
  
  li {
    float: right;
  }
  
  li a {
    font-size: 1.25em;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: rgb(191, 240, 240);
    text-decoration: underline;
  }

h1 {
    margin: 3%;
    float: left;
    font-size: 2em;
    color: darkslategray;
    font-weight: normal;
}

p {
    margin: 3%;
    float: left;
    font-size: 1.5em;
    color: darkslategray;
}

.blue {
  background-color:aliceblue;
}

.tan {
  background-color: oldlace;
}

.blue a {
  color:darkcyan;
  text-decoration: underline;
}

.tan a {
  color:indianred;
  text-decoration: underline;
}


#lastname {
    color: darkcyan;
}

.highlighted_1 {
    border-radius: 5px;
    background-color:rgb(191, 240, 240);
    color: darkslategray;
} 

.highlighted_2 {
  border-radius: 5px;
  background-color:navajowhite;
  color: darkslategray;
} 


.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.container .text_container {
  flex: 1;
  padding: 20px;
}

.container .image_container {
  flex: 1;
  padding: 20px;
}

.container:nth-child(odd) {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .container:nth-child(odd) {
      flex-direction: column;
  }
}