/* * {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial;
  font-size: 1em;
} */

body {
  padding: 5px;
}

.image_container {
    margin: 1%;
    width: 44%;
    float: left;
}

.image_container img {
    width: 100%;
    border-radius: 3%;
}

h1 {
    margin: 3%;
    float: left;
    font-size: 2em;
    color: darkslategray;
}

p {
    margin: 3%;
    float: left;
    font-size: 1.2em;
    color: darkslategray;
}

a {
    color:darkcyan;
}

.text_container {
    float: right;
    background-color:aliceblue;
    margin: 1%;
    width: 52%;
    border-radius: 15px;
} 

#lastname {
    color: darkcyan;
}

.highlighted {
    border-radius: 5px;
    background-color:rgb(191, 240, 240);
    color: darkslategray;
} 


